<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="zytDataService" type="Starsoft.NetUniver.Core.Data.DataSectionHandler, NetUniver.Core" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
  </configSections>
  <appSettings/>
  <connectionStrings>
    <add name="SCWebConnection" connectionString="User ID=sa;Password=123456;Initial Catalog=SCWebSite;Data Source=(localdb)\v11.0;"/>
  </connectionStrings>
  <zytDataService defaultProvider="SCWebDataProvider">
    <providers>
      <add name="SCWebDataProvider" type="SC.Data.SqlClient.SCWeb.SCWebDataProvider, JinRen.Data.SqlClient" connectionStringName="SCWebConnection"/>
    </providers>
  </zytDataService>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
